<?xml version="1.0"?>
<APIConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationList>
    <ApplicationInfo>
      <AppID>Dv</AppID>
      <AppUrl>http://localhost:848/dv_dpo.asp</AppUrl>
    </ApplicationInfo>
  </ApplicationList>
  <Enable>true</Enable>
  <AppKey>testtest</AppKey>
  <AppID>fooson</AppID>
</APIConfig>